<h1><%= @task.title %></h1>

<ul class="list-group">
  <li class="list-group-item"><%= @task.details %></li>
</ul>

<%= link_to "Edit the task", edit_path %>


<%= link_to "Back to List", tasks_path %>
